.price{
    background-image: url("../img/bg2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 534px;
    width: 100%;
    padding: 159px 130px 0 130px;
    margin-bottom: 74px;

}

.grid__table {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 234px);
    grid-template-rows: 93px 59px 59px 59px;
    gap: 2px;
    z-index: 1;
}

.grid__table div{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: $black;
    background-color: white;
}

.green, .red {
    display: flex;
    justify-content: center;
    align-items: center;
}

.baza {
    grid-column: 2/3;
    grid-row: 1;
}

.standart {
    grid-column: 3/4;
    grid-row: 1;
}

.anlim {
    grid-column: 4/5;
    grid-row: 1;
}

.pink {
    grid-column: 1;
    grid-row: 2/3;
}

.emoji {
    grid-column: 1;
    grid-row: 3/4;
}

.comments {
    grid-column: 1;
    grid-row: 4/5;
}

.green.odin {
    grid-column: 2/3;
    grid-row: 2;
}

.green.dva{
    grid-column: 3/4;
    grid-row: 2;
}

.green.tri {
    grid-column: 3/4;
    grid-row: 3;
}

.green.chetire {
    grid-column: 4/5;
    grid-row: 2/3;
}

.green.p9t {
    grid-column: 4/5;
    grid-row: 3/4;
}

.green.shest{
    grid-column: 4/5;
    grid-row: 4/5;
}

.red.odin {
    grid-column: 2/3;
    grid-row: 3/4;
}

.red.dva {
    grid-column: 2/3;
    grid-row: 4/5;
}

.red.tri {
    grid-column: 3/4;
    grid-row: 4/5;
}

.baza, .standart, .anlim {
    color: white!important;
    background-color: $black!important;
    text-align: center;
    flex-direction: column;
}

.grid__table span {
    display: block;

}

.span__name {
    margin-bottom: -20px;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.span__price {

    font-size: 24px;
    font-weight: 300;
    line-height: 30px;


}

.standart{
    overflow: hidden;
    position: relative;
}

.ribbon {
    position: absolute;
    height: 18px;
    width: 200px;
    z-index: 4;
    background-color: red!important;
    right: 100px;
    bottom: 50px;
    transform: rotate(-45deg);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: white!important;
    
}

