@import "main.scss";
@import "var.scss";
@import "header.scss";
@import "offer.scss";
@import "adaptive.scss";
@import "slider.scss";
@import "price.scss";
@import "quastion.scss";
@import "footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');




* {
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: "Open Sans";
}

body {
    width: 100%;

}